# Dependencies
node_modules
/node_modules
*/node_modules
package-lock.json

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
/build
/dist
client/build

# Misc
.DS_Store
.vercel

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
.next/